*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #f4f4f4;
    position: relative;

}
::selection{
    background-color: #3079d9;
    color: #fff;

}
a{
    text-decoration: none;
    color: #000000bb;
    
}
input{
    border: none;
    outline: none;
    /* width: 20px; */
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    /* border-left: 10px solid #5e4c1a; */
    background-color: #f4f4f4;
    /* background-color: #ffefc1; */
    font-size: .95em;
    /* letter-spacing: .05rem; */
}
.inp{
    display: flex;
    flex-direction: column;
    gap: 7px;

    /* justify-content: space-around; */
    /* align-items: center; */

    /* border: 1px dashed rgb(0, 0, 0); */
    /* padding: 20px; */
    /* border-radius: 10px; */
}
.inp p{
    position: relative;
}


.inputs-bx{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;

}

.container{
    /* padding: 0 7%; */
    padding: 50px !important;
    height: 400px;
    width: 600px;
    /* background-color: #3079d9; */
    /* background-color: #f9c846; */
    /* background-image: linear-gradient(#f9c846 , #be9a36); */
    background-color: #fff;
    /* box-shadow: #0000002b 0 0 20px; */
    border: 1px solid #00000041;
    border-radius: 15px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.container::after{
    content: '';
    display: block;
    width: 60%;
    height: 20%;
    background-color: transparent;
    position: absolute;
    top: -25%;
    /* box-shadow: #3079d924 0px 25px 60px 17px; */
    border-radius: 50%;
}
.container::before{
    content: '';
    display: block;
    width: 70%;
    height: 1px;
    background-color: #3079d9;
    position: absolute;
    top: 0;
    /* box-shadow: #3079d942 0px 30px 60px 17px; */
    /* border-radius: 50%; */
}
button{
    margin-top: 30px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    
    background-color: #3079d9;
    /* background-color: #f9c846   ; */
    color: #fff;
    cursor: pointer;
    border: none;
    height: 45px;
    transition: .3s;
    position: relative;
    overflow: hidden;
    font-size: large;
    box-shadow: #3079d946 0 25px 50px;
}

button:hover{
    background-color: #2761ac;
    transition: .3s;

}
button:hover::after{
    background-color: #fff;
    left: 120%;
    transition: .1s;
}
button::after{
    content: '';
    display: block;
    background-color: #fff;
    height: 350%;
    transform: translate(0 , -30%) rotate(30deg);
    width: 20%;
    position: absolute;
    top: 0;
    left: -40%;
    transition: .2s;
    /* aspect-ratio: 1; */
}









#pass{
    width: 85%;
}
.pass-bx{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#eye-icon{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0 , -50%);
    cursor: pointer;    

    /* border: none; */
    /* width: 20px; */
    /* border: 2px solid red; */
    height: 50px;
    width: 50px;
    padding: 15px;
        
    /* font-size: 2px; */
    /* box-sizing:border-box; */

    fill: #2761ac;
    /* aspect-ratio: 1; */
    /* padding: 10px 20px; */
    border-radius: 5px;
    /* border-left: 10px solid #5e4c1a; */
    /* background-color: red; */
    background-color: #f4f4f4;
    transition: .3s;
}
#eye-icon:hover{
    background-color: #d7d7d7;
}
#eye-icon.Enable{
    background-color: #3079d9;
    fill: #fff;

    /* outline: 2px solid #2761ac71; */
    /* outline-offset: 3px; */
    transition: .3s;
}










.title-bx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    margin-bottom: 20px;

}
.title-bx h1{
    font-size:x-large;
}
.title-bx p{
    font-size: small;
    opacity: .8;
    position: relative;
}
.title-bx p:after{
    content: '';
    display: block;
    margin: 0 auto;
    bottom: 0;
    bottom: -5px;
    left: 50%;
    transform: translate(-50% ,0px);
    width: 0;
    height: 1px;
    position: absolute;
    background-color: #2761ac;
    transition: .1s;
}
.title-bx p:hover:after{
    width: 100%;
    transition: .1s;
}






.footer{
    position: absolute;
    /* top: 0; */

    /* top: 50%; */
    bottom: 10%;
    left: 50%; 
    transform: translate(-50% , -50%);

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
.footer p{
    opacity: .5;
    font-weight:400;
}
#github-icon{
    fill: #000;
    height: 20px;

}



.disable{
    display: none !important;
}




