*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-color: #f4f4f4;
    position: relative;

}

a{
    text-decoration: none;
    color: #000000bb;
    
}
input{
    border: none;
    outline: none;
    /* width: 20px; */
    height: 50px;
    padding: 10px 20px;
    border-radius: 5px;
    /* border-left: 10px solid #5e4c1a; */
    background-color: #f4f4f4;
    /* background-color: #ffefc1; */
    
}
.inp{
    display: flex;
    flex-direction: column;
    gap: 7px;

    /* justify-content: space-around; */
    /* align-items: center; */

    /* border: 1px dashed rgb(0, 0, 0); */
    /* padding: 20px; */
    /* border-radius: 10px; */
}
.inp p{
    position: relative;
}


.inputs-bx{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;

}

.container{
    padding: 50px;
    height: 400px;
    width: 600px;
    /* background-color: #3079d9; */
    /* background-color: #f9c846; */
    /* background-image: linear-gradient(#f9c846 , #be9a36); */
    background-color: #fff;
    /* box-shadow: #0000002b 0 0 20px; */
    border: 1px solid #00000041;
    border-radius: 15px;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button{
    margin-top: 30px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
    
    background-color: #3079d9;
    /* background-color: #f9c846   ; */
    color: #fff;
    cursor: pointer;
    border: none;
    height: 45px;
    transition: .3s;
}

button:hover{
    background-color: #2761ac;
    transition: .3s;

}








#pass{
    width: 85%;
}
.pass-bx{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#eye-icon{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0 , -50%);
    cursor: pointer;    

    /* border: none; */
    /* width: 20px; */
    /* border: 2px solid red; */
    height: 50px;
    width: 50px;
    padding: 15px;
        
    /* font-size: 2px; */
    /* box-sizing:border-box; */

    fill: #2761ac;
    /* aspect-ratio: 1; */
    /* padding: 10px 20px; */
    border-radius: 5px;
    /* border-left: 10px solid #5e4c1a; */
    /* background-color: red; */
    background-color: #f4f4f4;
    transition: .3s;
}

#eye-icon.Enable{
    background-color: #2761ac;
    fill: #fff;

    /* outline: 2px solid #2761ac71; */
    /* outline-offset: 3px; */
    transition: .3s;
}










.title-bx{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;

    margin-bottom: 20px;

}
.title-bx h1{
    font-size:x-large;
}
.title-bx p{
    font-size: small;
    opacity: .8;
}







.footer{
    position: absolute;
    /* top: 0; */

    /* top: 50%; */
    bottom: 10%;
    left: 50%; 
    transform: translate(-50% , -50%);

    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 15px;
}
.footer p{
    opacity: .5;
    font-weight:400;
}
#github-icon{
    fill: #000;
    height: 20px;

}



.disable{
    display: none !important;
}
